body {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    font-family: 'Lexend', sans-serif;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.homepage .div {
    width: 1440px;
    height: 1024px;
    position: relative;
}

.left-navig {
    position: absolute;
    width: 168px;
    height: 1024px;
    top: 0;
    left: 0;
    background-color: #fff4f4;
}

.left-navig #bbLogo {
    width: 110px;
    height: 100px;
    padding-top: 20px;
    padding-left: 25px;
}

.left-navig i {
    color: #f7476b;
    font-size: 30px;
}

#i-home {
    position: absolute;
    top: 210px;
    left: 64px;
}

#i-history {
    position: absolute;
    top: 350px;
    left: 64px;
}

#i-settings {
    position: absolute;
    top: 750px;
    left: 64px;
}

i:hover {
    opacity: 0.7;
}

.search-box {
    display: flex;
    flex-direction: column;
    width: 597px;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 52px;
    left: 215px;
    padding: 9px;
    width: 597px;
    background-color: #fafafa;
    border-radius: 15px;
    color: #8d8d90;
}

#i-search {
    position: absolute;
    padding-left: 10px;
}

.date-box {
    position: absolute;
    width: 240px;
    height: 44px;
    top: 46px;
    left: 892px;
}

#i-calendar {
    position: absolute;
    font-size: 27px;
    top: 12px;
    left: 0;
    color: #f7476b;
}

.date {
    position: absolute;
    width: 186px;
    height: 44px;
    top: 3px;
    left: 38px;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    color: #f7476b;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
}

.text-wrapper {
    font-weight: 700;
}

.text-wrapper-2 {
    font-weight: 300;
}

#i-notif {
    position: absolute;
    font-size: 27px;
    top: 60px;
    left: 1200px;
    color:#f7476b;
}

#user-avatar {
    position: absolute;
    width: 50px;
    top: 50px;
    left: 1289px;
    color:#f7476b;
}

#user-avatar:hover {
    opacity: 0.7;
}

.welcome {
    position: absolute;
    top: 95px;
    left: 216px;
    font-family: 'Lexend',sans-serif;
    font-weight: 400;
    color: #f7476b;
    font-size: 64px;
    letter-spacing: 0;
    line-height: 18px;
    white-space: nowrap;
}

.span {
    font-weight: 900;
}

.span-1 {
    font-weight: 700;
}

.balance-box {
    position: relative;
    width: 1160px;
    height: 150px;
    top: 222px;
    left: 223px;
}

.bb-content {
    position: relative;
    width: 1154px;
    height: 150px;
    background-color: #fff4f4;
}

.bb-group1 {
    position: absolute;
    width: 691px;
    height: 104px;
    top: 12px;
    left: 55px;
}

.text1 {
    position: absolute;
    width: 691px;
    height: 83px;
    top: 0;
    left: 0;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    color: #f7476b;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 18px;
    padding-top: 40px;
}

.text2 {
    width: 478px;
    height: 83px;
    top: 21px;
    left: 211px;
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    color: #f7476b;
    font-size: 48px;
    line-height: 18px;
    position: absolute;
    text-align: right;
    letter-spacing: 0;
    padding-top: 30px;
}

.text3 {
    position: absolute;
    width: 691px;
    height: 34px;
    top: 66px;
    left: 0;
    font-family: 'Lexend', sans-serif;
    font-weight: 400;
    color: #f7476b;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 18px;
    padding-top: 9px;
}

.bb-group2 {
    position: absolute;
    width: 228px;
    height: 40px;
    top: 32px;
    left: 873px;
}

button {
    font-family: 'Lexend', sans-serif;
    font-weight: 550;
    border: none;
    border-radius: 8px;
    padding: 11px;
    cursor: pointer;
    width: 22.5%;
    color: white;
}

#Income {
    background-color: #ff7e99;
    border-radius: 16px;
    display: flex;
    width: 228px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px;
    position: relative;
    border-radius: 16px;
    margin-bottom: 5px;
}

#Income:hover {
    background-color: #dd6780;
}

#Expense {
    background-color: #f7476b;
    border-radius: 16px;
    display: flex;
    width: 228px;
    height: 40px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px;
    position: relative;
    border-radius: 16px;
}

#Expense:hover {
    background-color: #cb3453;
}

.chart {
    position: absolute;
    width: 785px;
    height: 593px;
    top: 390px;
    left: 223px;
}

.overview {
    position: absolute;
    width: 783px;
    height: 593px;
    top: 0;
    left: 0;
    background-color: #fff4f4;
}

.ov-text {
    position: absolute;
    width: 276px;
    height: 77px;
    top: 60px;
    left: 60px;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    color: #f7476b;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 18px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    width: 221px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 50px;
    left: 545px;
    border-radius: 16px;
}

#d-date {
    font-family: 'Lexend', sans-serif;
    padding: 12px 20px;
}

.img-chart {
    position: absolute;
    width: 785px;
    height: 593px;
    top: 150px;
    left: 50px;
}

.upcoming-box {
    position: absolute;
    width: 351px;
    height: 223px;
    top: 390px;
    left: 1026px;
    background-color: #fff4f4;
}

.upcoming-details {
    position: absolute;
    width: 302px;
    height: 93px;
    top: 94px;
    left: 30px;
}

.overlap-3 {
    position: relative;
    width: 292px;
    height: 93px;
    background-color: #ffe2e2;
    border-radius: 10px;
}

.text-upcom1 {
    position: absolute;
    width: 275px;
    height: 77px;
    top: 50px;
    left: 30px;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    color: #f7476b;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 5px;
}

.text-upcom2 {
    position: absolute;
    height: 13px;
    top: 18px;
    left: 21px;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    color: #f7476b;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 13px;
    white-space: nowrap;
}

.text-upcom3 {
    position: absolute;
    height: 13px;
    top: 60px;
    left: 21px;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    color: #f7476b;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 13px;
    white-space: nowrap;
}

.text-upcom4 {
    height: 13px;
    top: 18px;
    left: 218px;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    color: #f7476b;
    font-size: 13px;
    line-height: 13px;
    white-space: nowrap;
    position: absolute;
    text-align: right;
    letter-spacing: 0;
}

.text-upcom5 {
    position: absolute;
    height: 13px;
    top: 33px;
    left: 21px;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    color: #f7476b;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 13px;
    white-space: nowrap;
}

.text-upcom6 {
    position: absolute;
    height: 13px;
    top: 33px;
    left: 238px;
    font-family: 'Lexend', sans-serif;
    font-weight: 300;
    color: #f7476b;
    font-size: 10px;
    text-align: right;
    letter-spacing: 0;
    line-height: 13px;
    white-space: nowrap;
}

.category-box {
    position: absolute;
    width: 351px;
    height: 350px;
    top: 633px;
    left: 1026px;
    background-color: #fff4f4;
}

.add-category {
    position: absolute;
    width: 297px;
    height: 77px;
    top: 13px;
    left: 45px;
}

#i-add {
    padding-left: 250px;
    color: #f7476b;
    font-size: 20px;
}

.categ-group {
    position: relative;
    width: 295px;
    height: 77px;
    top: 25px;
}

.categ-text1 {
    position: absolute;
    width: 275px;
    height: 77px;
    top: 0;
    left: 0;
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    color: #f7476b;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 18px;
}

.home {
    position: absolute;
    width: 199px;
    height: 45px;
    top: 85px;
    left: 51px;
}

.frame-2 {
    display: flex;
    width: 45px;
    height: 45px;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffdada;
    border-radius: 16px;
}

.bxs-home {
    margin-right: -36.34px;
    position: relative;
    width: 28px;
    height: 28px;
    margin-bottom: -3px;
}

.categ-text2 {
    width: 132px;
    top: 22px;
    left: 95px;
    color: #f7476b;
    font-size: 16px;
    line-height: 18px;
    white-space: nowrap;
    position: absolute;
    font-family: 'Lexend', sans-serif;
    font-weight: 500;
    letter-spacing: 0;
}

.transpo {
    position: absolute;
    width: 199px;
    height: 45px;
    top: 158px;
    left: 51px;
}

.food-drinks {
    position: absolute;
    width: 199px;
    height: 45px;
    top: 230px;
    left: 51px;
}

.bxs-home-2 {
    margin-right: -37px;
    position: relative;
    width: 28px;
    height: 28px;
    margin-bottom: -3px;
}

#i-car, #i-eat, #i-home {
    font-size: 35px;
    margin-left: 5px;
    margin-top: 5px;
    color: #f7476b;
}